html {
  font-family: $font-main;
}

body {
  background: $color-background;
  color: $color-white;
}

.button {
  border-radius: 8px;
  background: $yellow-gradient;
  width: 260px;
  height: 62px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
  color: $color-background;
  font-size: 18px;

  &:hover {
    background: $yellow-gradient-hover;
  }
}
