@use "vars";

:root {
  --focus-ring: #{vars.$color-accent};
}

html {
  font-family: vars.$font-main;
}

body {
  background: vars.$color-background;
  color: vars.$color-white;
}

.button {
  border-radius: 8px;
  background: vars.$yellow-gradient;
  width: 260px;
  height: 62px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
  color: vars.$color-background;
  font-size: 18px;
  line-height: normal;

  &:hover {
    background: vars.$yellow-gradient-hover;
  }
}
