# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/modules.xml
/prettier.xml
/dictionaries
/project.iml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
